
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<link rel="stylesheet" type="text/css" href="/css/dados.css"
	media="screen" />
<body style="background:black">

	<header th:replace="layout/layout :: header"></header>

	<div  class="container py-4 mt-5">

		<div   class="card bg-dark">
			<div class="card-header text-center text-white bg-dark "
				style="font-size: 25px;" th:text="${titulo}"></div>

			<div  class="row">
				<div class="col-sm-6">

					<div  th:style =" ' background:'+ ${colorDados}  "  class="card-body">

						<div class="scene">
							<div class="cube">
								<div class="cube__face cube__face--1">1</div>
								<div class="cube__face cube__face--2">2</div>
								<div class="cube__face cube__face--3">3</div>
								<div class="cube__face cube__face--4">4</div>
								<div class="cube__face cube__face--5">5</div>
								<div class="cube__face cube__face--6">6</div>
							</div>
						</div>
					</div>
				</div>
				<div  class="col-sm-6">

					<div  th:style =" ' background:'+ ${colorDados}" class="card-body">
						<div class="scene">
							<div class="cube2">
								<div class="cube__face cube__face--1">1</div>
								<div class="cube__face cube__face--2">2</div>
								<div class="cube__face cube__face--3">3</div>
								<div class="cube__face cube__face--4">4</div>
								<div class="cube__face cube__face--5">5</div>
								<div class="cube__face cube__face--6">6</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<button class="btn btn-primary btn-lg" id="rollBtn">Lance
					los dados</button>
			</div>

			<form th:action="@{/formDados/}" id="formulario" method="post">
				<input type="hidden" name="valorDado1" id="valorDado1" value="" />
				<input type="hidden" name="valorDado2" id="valorDado2" value="" />
				<input type="hidden" name="colorDados" id="colorDados" th:value="${colorDados}" />
			</form>

			
		</div>
		<footer th:replace="layout/layout :: footer"></footer> 
	</div>

	<script th:replace="dados/dadosScript :: javascript"></script>
</body>
</html>


